/*BODY*/
html{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
}

div.dt-buttons{
    float: none !important;
}

div.dt-buttons>.dt-button{
    background-color: white !important;
}

div.dt-buttons>.dt-button:hover:not(.disabled){
    background-color: lightgrey !important;
}

div.dt-button-collection{
    padding: 1px !important;
}

div.dt-button-collection .dt-button{
    padding: 0.1rem 1rem;
    margin-bottom: 1px !important;
}

/* Zvýraznenie pre zobrazené stlpce */
.dt-button.buttons-columnVisibility.active{
    background-color: green !important;
    color: white !important;
}

/* Zvýraznenie pre skryté stlpce */
.dt-button.buttons-columnVisibility {
    background-color: red !important;
    color: white !important;
}

.dataTables_length,
.dataTables_info{
    background-color: white;
}

.dataTables_length{
    margin-top: 2px;
}

.dataTables_wrapper .dataTables_info{
    padding: 0 !important;
    margin-top: 0.5rem;
}

.dataTables_wrapper .dataTables_filter{
    margin-bottom: 0.5rem;
}

.dataTables_wrapper .dataTables_paginate{
    margin-top: 0.5rem;
}

#sprava-uzivatelov-tabulka_wrapper{
    background-color: white;
    padding: 1rem;
}

table#sprava-uzivatelov-tabulka.dataTable tr:nth-child(even){
    background-color: lightgray;
}

*{
    box-sizing: content-box;
}

.bg-gray{
    background-color: #111;
}

.bg-lightgray{
    background-color: rgb(60, 60, 60);
}

.bg-white{
    background-color: rgb(200, 200, 200);
}

.white{
    color: white;
}

.black{
    color: black;
}

.red{
    color: red;
}

.p4{
    padding: 1rem;
}

.p1{
    padding: 0.2rem;
}

.p2{
    padding: 0.5rem;
}

.p8{
    padding: 2rem;
}

.p4-8{
    padding: 1rem 2rem;
}

.w25{
    width: 25px;
}

.w50{
    width: 50px;
}

.w80{
    width: 80px;
}

.h60{
    height: 60px;
}

.tdu::after,
.tdu:hover{
    text-decoration: underline;
    text-underline-offset: 4px !important;
    color: white;
}

.hover:hover{
    background-color: red;
}

.h83-15{
    height: 83.15px;
}

.jce{
    justify-content: end;
}

.ps{
    position: sticky;
    z-index: 999;
    top: 0;
}

.p0{
    padding: 0;
}

.fw600{
    font-weight: 600;
}

.fw700{
    font-weight: 700;
}

.fw900{
    font-weight: 900;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.cb{
    clear: both;
}

.tsb1{
    text-shadow: 1px 1px 1px black;
}

.tsb2{
    text-shadow: 2px 2px 2px black;
}

.vl{
    border-left: 2px solid white;
    height: 40px;
}

.mr2{
    margin-right: 0.5rem;
}

.mr4{
    margin-right: 1rem;
}

.ml4{
    margin-left: 1rem;
}

.mr8{
    margin-right: 2rem;
}

.m8{
    margin: 2rem;
}

.ml8{
    margin-left: 2rem;
}

.mt4{
    margin-top: 1rem !important;
}

.mxa{
    margin: 0 auto;
}

.pr4{
    padding-right: 1rem;
}

.pr8{
    padding-right: 2rem;
}

.w140{
    width: 140px;
}

.w185{
    width: 185px;
}

.w420{
    width: 420px;
}

.h8{
    height: 2rem;
}

.dn{
    display: none;
}

.db{
    display: block;
}

a{
    text-decoration: none;
}

.black{
    color: black;
}

.clear{
    clear: both;
}

.flag-icon{
    box-shadow: 0px 5px 30px black;
}

/*LOGIN PAGE*/
.top-hamburger-login.toggleClsLog{
    display: block;
    background: lightskyblue;
    position: absolute;
    width: 100px;
    top: 75px;
    text-align: center;
    padding-left: 0;
    right: 0px;
    margin-right: 5px;
    z-index: 999;
    padding-bottom: 5px;
}

.top-hamburger-login li{
    list-style-type: none;
    line-height: 2.5em;
}

.login-form{
    margin: 0 auto;
    padding: 40px 10px;
    box-shadow: 0px 5px 30px black;
    display: block;
    width: 540px;
    border-radius: 8px;
    background: radial-gradient(#2fb8f8, #3391bd);
}

.tac{
    text-align: center;
}

.login-form hr{
    width: 95%;
    margin: 0 auto;
    padding-bottom: 10px;
    border-top: 2px solid black;
    margin-top: 10px;
}

.form-group{
    margin: auto;
    width: 360px;
}

.form-group:last-child{
    margin-top: 15px;
}

.form-group:last-child button{
    width: 360px;
}

.footer{
    padding: 0.5rem 1rem;
    padding-left: 0;
    color: gray;
    position: absolute;
    bottom: 0;
}

.medzera{
    overflow: hidden;
    width: 100%;
    height: 20px;
    display: block;
}

.border2-black{
    border: 2px solid black;
}

.border1-black{
    border: 1px solid black;
}